.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1920px !important;
  padding: 20px 50px;
}


h1{
  font-size: 100px !important;
  font-style: bold;
  line-height: 122px;
  line-height: 100%;
  vertical-align: top;
  margin: 50px 0px ;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.btnn{
  background-color: transparent;
  width: 48px;
  height: 48px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}